h1, h2 {
  text-align: center;
}

h3 {
  font-size: 30px;
  
}

#yes {
  text-decoration: none;
  color: #111;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

p, th, td {
  text-align: center;
  font-size: 1.5vw;
}

table{
  width: 100%;
}

table, th, td {
  border:1px solid black;
}

#move {
  text-align: right;
}

body {
  background-image: linear-gradient(to right, rgb(99, 116, 99), rgb(130, 115, 115));;
}